<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Madlibs</title>
  </head>
  <body>
    <form action="/madlib">
      <div>Please enter a person <input type="text" name="person" /></div>
      <div>
        Please choose a color
        <select name="color">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="orange">Orange</option>
          <option value="yellow">Yellow</option>
        </select>
      </div>
      <div>Please enter a noun <input type="text" name="noun" /></div>
      <div>
        Please enter an adjective <input type="text" name="adjective" />
      </div>
      <div><input type="submit" /></div>
    </form>
  </body>
</html>
